# What kind of data does pandas handle ?

Following [this tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented).

## `DataFrame`

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(

    {

        "Name": [

            "Braund, Mr. Owen Harris",

            "Allen, Mr. William Henry",

            "Bonnell, Miss. Elizabeth",

        ],

        "Age": [22, 35, 58],

        "Sex": ["male", "male", "female"],

    }
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

df is a `DataFrame`

In [38]:
type(df)

pandas.core.frame.DataFrame

## Series

Each column in a `DataFrame` is a `Series`

In [39]:
type(df['Age'])

pandas.core.series.Series

In [40]:
print(df['Age'])

0    22
1    35
2    58
Name: Age, dtype: int64

A `Series` can be created from scratch

In [41]:
sizes = pd.Series([22, 33, 56], name='Size')
sizes

0    22
1    33
2    56
Name: Size, dtype: int64

## Using `DataFrame` and `Series`

Getting the max and min of a series

In [42]:
sizes.max()

56

In [44]:
df['Age'].min()

22

Or getting some basic statistics

In [45]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

## Manipulating a `DataFrame`

### Creating a column from an existing one

In [46]:
df['Until_100'] = 100 - df['Age']

df

                       Name  Age     Sex  Until_100
0   Braund, Mr. Owen Harris   22    male         78
1  Allen, Mr. William Henry   35    male         65
2  Bonnell, Miss. Elizabeth   58  female         42

Can also be done using the apply method

In [47]:
df['Greeting'] = df['Name'].apply(lambda n : 'Hello %s' % n)

df

,Name,Age,Sex,Until_100,Greeting
0,"Braund, Mr. Owen Harris",22,male,78,"Hello Braund, Mr. Owen Harris"
1,"Allen, Mr. William Henry",35,male,65,"Hello Allen, Mr. William Henry"
2,"Bonnell, Miss. Elizabeth",58,female,42,"Hello Bonnell, Miss. Elizabeth"